$body-text-color: #7a798e;
$text-color-black: #000000;
$bg-color-transperant: transparent;

$screen-lgl: 1280px;
$screen-lg: 1024px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-ssm: 640px;
$screen-xs: 576px;
$screen-xxs: 480px;
