body {
  overflow-x: hidden;
}

.productHome {
  width: 100%;

  .productHomeContainer {
    background: #eeddcc;
    width: 100%;
    min-height: 500px;
    height: fit-content;
    display: flex;

    .productHomeCarousel {
      width: 100%;
      margin: 0px auto;
      height: inherit;

      .MuiPaper-elevation1 {
        box-shadow: none;
      }

      .MuiPaper-rounded {
        border-radius: 0;
      }

      .MuiPaper-root {
        background: none;
      }

      .productHomeGrid {
        width: 85%;
        display: flex;
        height: fit-content;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 0px auto;
        padding: 20px 30px;

        .productHomeGrid1 {
          .productHomeDesc {
            .productHomeText {
              font-family: "Frank Ruhl Libre";
              font-style: normal;
              font-weight: 700;
              font-size: 4rem;
              line-height: 4rem;
              text-transform: capitalize;
              color: #34251f;
              width: 500px;
            }

            .productHomeName {
              width: 500px;
              font-size: 1rem;
              padding: 10px;
              font-family: "Lato";
              font-style: normal;
              font-weight: 600;
              font-size: 1.375;
              line-height: 180%;
              color: #34251f;
            }

            .productHomeSubText {
              width: 500px;
              font-size: 1rem;
              padding: 10px;
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 1.375;
              line-height: 180%;
              color: #34251f;
            }
          }

          .productHomeButton {
            background: #34251f;
            border-radius: 2px;
            margin-top: 30px;
            cursor: pointer;
            width: 150px;
          }

          .MuiButton-label {
            font-family: "Lato";
            font-style: normal;
            font-weight: 900;
            font-size: 0.875rem;
            line-height: 2rem;
            text-transform: uppercase;
            color: #ffffff;
          }
        }

        .productHomeGrid2 {
          .productHomeImage {
            width: 250px;
            height: 200px;
          }
        }
      }
    }
  }

  .topProductContainer {
    padding: 0px 10px;
    margin: 0px auto;
    min-height: 450px;
    height: fit-content;
    display: flex;
    flex-direction: column;

    .topProductGrid {
      justify-content: center;
      align-items: center;

      .topProductText {
        font-family: "Frank Ruhl Libre";
        font-style: normal;
        font-weight: 700;
        font-size: 3.75rem;
        line-height: 88px;
        text-align: center;
        text-transform: capitalize;
        color: #34251f;
      }

      .topProductSubText {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 1.25rem;
        text-align: center;
        color: #34251f;
      }
    }

    .topProductCarouselGrid {
      height: 372px;
      padding: 10px 0px 5px 0px;
      justify-content: center;
      align-items: center;

      .topProductCarousel {
        .slick-prev:before,
        .slick-next:before {
          color: #000000;
        }

        .slick-slide {
          padding: 0 10px;
          width: 22%;
        }

        .topProductCard {
          background: #ffffff;
          border-top: 1px #f0f0f0 solid;
          display: flex;
          flex-direction: column !important;

          .topProductCardContent {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff;
            width: 100%;
            height: 282px;
            margin: 0px auto;
            padding: 0px;

            .topProductImage {
              width: 100%;
              height: 294px;
            }
          }

          .MuiCardContent-root {
            padding: 0;
          }

          .topProductCardActions {
            justify-content: center;
            flex-direction: column;

            .topProductName {
              background: #c9c9c9;
              color: #34251f;
              padding: 10px 30px;
              width: 90%;
              box-shadow: none;
              border-radius: 0;

              &:hover {
                background: #413531;
                color: #ffffff;
              }

              cursor: pointer;

              .topProductText {
                font-family: "Lato";
                font-style: normal;
                font-weight: 900;
                font-size: 1rem;
                text-align: center;
                text-transform: uppercase;
                color: #34251f;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover {
                  color: #ffffff;
                }
              }
            }

            .MuiButton-contained:hover {
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  .listedProductContainer {
    background: #413531;
    width: 100%;
    min-height: 410px;
    padding: 20px 0;
    margin: 30px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    height: fit-content;

    .listedProductGrid {
      justify-content: center;
      align-items: center;
      padding: 20px 0px;
      width: 100%;
      margin: 0px auto;

      .listedProductGridItem {
        padding: 0 10px;

        .listedProductText {
          font-family: "Frank Ruhl Libre";
          font-style: normal;
          font-weight: 700;
          font-size: 3.25rem;
          line-height: 67px;
          text-transform: capitalize;
          color: #ffffff;
        }

        .listedProductSubText {
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 1.25rem;
          line-height: 180%;
          text-transform: capitalize;
          color: #ffffff;
        }

        .listedProductCarousel {
          .slick-slide {
            padding: 0 10px;
          }

          .slick-dots {
            width: auto;
            bottom: -20px;

            li {
              width: 12px;
              height: 12px;
            }

            li button {
              width: inherit;
              height: inherit;
            }

            li button:before {
              font-size: 12px;
              width: inherit;
              height: inherit;
            }

            li:not(.slick-active) button:before {
              width: inherit;
              height: inherit;
              color: transparent;
              opacity: 1;
              border: 1px #fff solid;
              border-radius: 12px;
            }

            li.slick-active button:before {
              width: inherit;
              height: inherit;
              color: transparent;
              opacity: 1;
              border: 1px #fff solid;
              border-radius: 12px;
              background: #fff;
              opacity: 1;
            }
          }

          .listedProductCard {
            height: 350px;
            background: #ffffff;
            display: flex;
            flex-direction: column !important;

            .listedProductCardContent {
              display: flex;
              align-items: center;
              background: #ffffff;
              height: 275px;

              .listedProductImage {
                height: 100%;
                width: 100%;
              }
            }

            .MuiCardContent-root {
              padding: 0;
            }

            .listedProductCardActions {
              justify-content: center;
              flex-direction: column;
              cursor: pointer;

              .listedProductName {
                font-family: "Frank Ruhl Libre";
                font-style: normal;
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 23px;
                color: #34251f;
                margin-top: 14px;
              }
            }
          }
        }

        .MuiButton-outlined {
          border: 1px solid #ffffff;
          color: #ffffff;
          border-radius: 0;
          margin-top: 20px;
        }

        .MuiButton-label {
          padding: 5px 10px;
        }
      }
    }
  }

  .blogContainer {
    min-height: 450px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .blogTileGrid {
      width: 100%;
      padding: 0px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .blogTileGridItem {
        padding: 0;

        .blogTitle {
          font-family: "Spartan";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 25px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          color: #121212;
          text-align: center;
          margin-left: 100px;
        }
      }

      .blogLinkGridItem {
        padding: 0;

        .blogLink {
          font-family: "Spartan";
          font-style: normal;
          font-weight: 500;
          font-size: 0.75rem;
          line-height: 13px;
          letter-spacing: 0.06em;
          color: #121212;
          text-align: center;
          cursor: pointer;
        }
      }
    }

    .blogGrid {
      width: 80%;
      display: flex;
      justify-content: center;
      flex-direction: row;

      .MuiPaper-root.MuiPaper-elevation {
        height: 100%;
      }

      .MuiGrid-root.MuiGrid-container {
        padding: 2px;
      }

      .paper {
        padding: 8px;
        min-height: 150px;
        height: 100%;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        background: #ffffff;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .blogGridItem1 {
          height: 150px;

          .blogImage {
            width: 100%;
            height: 100%;
          }
        }

        .blogGridItem2 {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 10px 5px;

          .blogName {
            font-family: "Spartan";
            font-style: normal;
            font-weight: 600;
            font-size: 0.8rem;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: #121212;
            display: inline-block;
          }

          .blogDesc {
            font-family: "Spartan";
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            color: #121212;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .scrollContainer {
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;

    .scrollButton {
      background: #34251f;
      cursor: pointer;

      .scrollIcon {
        color: #ffffff;
      }
    }
  }
}
