$Container-width: 1200px;

.productHome {
  width: 100%;

  .productHomeContainer {
    background: #eeddcc;
    height: 500px;
    display: flex;

    .productHomeCarousel {
      width: 100%;

      .MuiPaper-elevation1 {
        box-shadow: none;
      }

      .MuiPaper-rounded {
        border-radius: 0;
      }

      .MuiPaper-root {
        background: none;
      }

      .productHomeGrid {
        width: $Container-width;
        display: flex;
        height: fit-content;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 0px auto;
        padding: 20px 30px;

        .productHomeDesc {
          .productHomeText {
            font-family: "Frank Ruhl Libre";
            font-style: normal;
            font-weight: 700;
            font-size: 4rem;
            line-height: 4rem;
            text-transform: capitalize;
            color: #34251f;
            width: 460px;
          }

          .productHomeSubText {
            width: 430px;
            font-size: 1rem;
            padding: 10px;
          }
        }

        .productHomeButton {
          background: #34251f;
          border-radius: 2px;
          margin-top: 30px;
          cursor: pointer;
        }

        .MuiButton-label {
          font-family: "Lato";
          font-style: normal;
          font-weight: 900;
          font-size: 0.875rem;
          line-height: 2rem;
          text-transform: uppercase;
          color: #ffffff;
        }

        .productHomeImage {
          width: 250px;
          height: 200px;
        }
      }
    }
  }

  .topProductContainer {
    width: 1180px;
    padding: 0px 10px;
    margin: 0px auto;
    min-height: 450px;
    height: fit-content;
    display: flex;
    flex-direction: column;

    .topProductGrid {
      justify-content: center;
      align-items: center;

      .topProductText {
        font-family: "Frank Ruhl Libre";
        font-style: normal;
        font-weight: 700;
        font-size: 3.75rem;
        line-height: 88px;
        text-align: center;
        text-transform: capitalize;
        color: #34251f;
      }

      .topProductSubText {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 1.25rem;
        text-align: center;
        color: #34251f;
      }
    }

    .topProductCarouselGrid {
      min-height: 450px;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;

      .topProductCarousel {
        .slick-prev:before,
        .slick-next:before {
          color: #000000;
        }

        .slick-slide {
          padding: 0 10px;
          width: 22%;
        }

        .topProductCard {
          background: #fff;
          display: flex;
          flex-direction: column !important;

          .topProductCardContent {
            display: flex;
            align-items: center;
            justify-content: center;
            background: in;
            height: 300px;

            .topProductImage {
              height: 294px;
              width: 294px;
            }
          }

          .MuiCardContent-root {
            padding: 0;
          }

          .topProductCardActions {
            justify-content: center;
            flex-direction: column;

            .topProductName {
              background: #ffffff;
              padding: 10px 30px;
              width: 90%;
              border-radius: 0;
              cursor: pointer;

              .topProductText {
                font-family: "Lato";
                font-style: normal;
                font-weight: 900;
                font-size: 1.125rem;
                text-align: center;
                text-transform: uppercase;
                color: #34251f;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }

  .listedProductContainer {
    width: 100%;
    background: #413531;
    min-height: 450px;
    height: fit-content;
    display: flex;

    .listedProductGrid {
      width: $Container-width;
      margin: 0px auto;
      //justify-content: center;
      align-items: center;

      .listedProductGridItem {
        padding: 0 10px;

        .listedProductText {
          font-family: "Frank Ruhl Libre";
          font-style: normal;
          font-weight: 700;
          font-size: 3.25rem;
          line-height: 67px;
          text-transform: capitalize;
          color: #ffffff;
        }

        .listedProductSubText {
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 1.25rem;
          line-height: 180%;
          text-transform: capitalize;
          color: #ffffff;
        }

        .listedProductCarousel {
          .slick-slide {
            padding: 0 10px;
          }

          .slick-dots {
            width: auto;
            bottom: -20px;
            li {
              width: 12px;
              height: 12px;
            }
            li button {
              width: inherit;
              height: inherit;
            }
            li button:before {
              font-size: 12px;
              width: inherit;
              height: inherit;
            }

            li:not(.slick-active) button:before {
              width: inherit;
              height: inherit;
              color: transparent;
              opacity: 1;
              border: 1px #fff solid;
              border-radius: 12px;
            }

            li.slick-active button:before {
              width: inherit;
              height: inherit;
              color: transparent;
              opacity: 1;
              border: 1px #fff solid;
              border-radius: 12px;
              background: #fff;
              opacity: 1;
            }
          }

          .listedProductCard {
            height: 350px;
            background: #ffffff;
            display: flex;
            flex-direction: column !important;

            .listedProductCardContent {
              justify-content: center;
              height: 225px;
              margin: 25px auto;
              display: flex;
              align-items: center;

              .listedProductImage {
                height: 100%;
                width: 100%;
              }
            }

            .MuiCardContent-root {
              padding: 0;
            }

            .listedProductCardActions {
              justify-content: center;
              flex-direction: column;
              cursor: pointer;

              .listedProductName {
                font-family: "Frank Ruhl Libre";
                font-style: normal;
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 23px;
                color: #34251f;
                margin-top: 14px;
              }
            }
          }
        }

        .MuiButton-outlined {
          border: 1px solid #ffffff;
          color: #ffffff;
          border-radius: 0;
          margin-top: 20px;
        }

        .MuiButton-label {
          padding: 5px 10px;
        }
      }
    }
  }

  .blogContainer {
    width: $Container-width;
    margin: 0px auto;
    min-height: 450px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .blogTileGrid {
      padding: 30px 0px 0px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .blogTileGridItem {
        padding: 0 10px;

        .blogTitle {
          font-family: "Spartan";
          font-style: normal;
          font-weight: 600;
          font-size: 1.175rem;
          line-height: 25px;
          letter-spacing: 0.06em;
          text-transform: none;
          color: #121212;
          text-align: left;
        }
      }

      .blogLinkGridItem {
        padding: 0 10px;

        .blogLink {
          font-family: "Spartan";
          font-style: normal;
          font-weight: 500;
          font-size: 0.75rem;
          line-height: 13px;
          letter-spacing: 0.06em;
          color: #121212;
          text-align: right;
          float: right;
          cursor: pointer;
        }
      }
    }

    .blogGrid {
      width: 100%;
      justify-content: center;
      padding: 10px 0px;

      .blogGridItem {
        width: 300px;
        padding: 10px;
        flex-direction: row;

        .blogCard {
          height: 320px;

          .blogCardContent {
            height: 180px;

            .blogImage {
            }
          }

          .blogCardActions {
            flex-direction: column;

            .blogName {
              font-family: "Spartan";
              font-style: normal;
              font-weight: 600;
              font-size: 0.875rem;
              letter-spacing: 0.06em;
              text-transform: uppercase;
              color: #121212;
              white-space: wrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .blogDesc {
              font-family: "Spartan";
              font-style: normal;
              font-weight: 400;
              font-size: 0.875rem;
              color: #121212;
              white-space: wrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }

  .scrollContainer {
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;

    .scrollButton {
      background: #34251f;
      cursor: pointer;

      .scrollIcon {
        color: #ffffff;
      }
    }
  }
}
