.searchBarBox {
    border: 2px solid #000;
    border-radius: 10px;
    color: #0D0D0D;
    padding-left: 40px;

    .searchBarText {
        legend {
            display: none;
        }

        fieldset {
            border: none;
        }

        input {
            width: 400px;
            height: 18px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-align: left;
            margin-left: 15px;
            padding: 10px;
            border: none;
        }

        .searchBarIcon {
            height: 18px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
        }


    }

    .css-q0jhri-MuiInputBase-root-MuiInput-root {
        border: 1px solid #000000;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-right: none;
    }

    .searchBarSelect {
        background: #E3CBB3;
        width: 150px;
        color: #000000;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        padding: 8px;
        min-height: 14px;

        .searchBarMenu {}
    }

    .searchBarButton {
        background: #34251F;
        color: #ffffff;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        height: 41px;
        width: 100px;
        border-radius: 0;
        margin: 0;
        float: right;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

}